<template>
  <div id="app">
    <NavBar />
    <SideBar isActive="books" />

    <div class="searchbar">
        <button @click="modal">Add Books</button>
        <input type="text" placeholder="Search..">
        </div>
        
        <div class="modal_container" id="modal">
        <div class="modal">
        <a href="#" class="close">X</a>
        <form action="#">
            <input type="text" placeholder="Name:"><br>
            <input type="text" placeholder="Author:"><br>
            <input type="text" placeholder="Copies:"><br>
            <input type="text" placeholder="Categories:"><br>
            <button type="submit" class="btn_addbook" value="Add Book">Add Book</button><br>
            </form>
        </div>
        </div>
<table>
            <tr>
            <th></th>
            <th>Name</th>
            <th>Author</th>
            <th>Copies Available</th>
            <th>Category</th>
            </tr>
            <tr>
            <td><a href="#">Edit</a>
                <a href="#">Delete</a>
                <a href="#">Borrow</a>
                <a href="#">Return</a>
            </td>
            <td>Clean Architecture</td>
            <td>Robert Martin</td>
            <td>5</td>
            <td>Computer Science</td>
            </tr>
            <tr>
            <td><a href="#">Edit</a>
                <a href="#">Delete</a>
                <a href="#">Borrow</a>
                <a href="#">Return</a>
            </td>
            <td>Jose Rizal</td>
            <td>Gregorio Zaide</td>
            <td>5</td>
            <td>History</td>
            </tr>
            <tr>
            <td>
                <a href="#">Edit</a>
                <a href="#">Delete</a>
                <a href="#">Borrow</a>
                <a href="#">Return</a>
            </td>
            <td>Code Complete</td>
            <td>Steve McConell</td>
            <td>2</td>
            <td>Computer Science</td>
            </tr>
            <tr>
            <td><a href="#">Edit</a>
                <a href="#">Delete</a>
                <a href="#">Borrow</a>
                <a href="#">Return</a>
            </td>
            <td>Clean Code</td>
            <td>Robert Martin</td>
            <td>3</td>
            <td>Computer Science</td>
            </tr>
            <tr>
            <td><a href="#">Edit</a>
                <a href="#">Delete</a>
                <a href="#">Borrow</a>
                <a href="#">Return</a>
            </td>
            <td>Continous Delivery</td>
            <td>Robert Martin</td>
            <td>3</td>
            <td>Computer Science</td>
            </tr>
            
            
        </table>
    

  </div>
</template>
<script>
import NavBar from "./../navigation/NavBar";

import SideBar from "./../navigation/SideBar";

export default {
  
  name: "App",
  mounted(){
    document.title = "Books Management"
  },
  components: { 
    SideBar,
    NavBar
  },
    };
</script>

<style>

</style>