<template>
  <div id="app">
     <NavBar />
    <SideBar/>
  


             <div class="row">
              <div class="column" id="piechart">
                <canvas id="barChart" ref="barChart"></canvas>    
              </div>
              <div class="column" id="barchart">
                <canvas id="pieChart"></canvas>
              </div>  
           
 
  </div>
  </div>
</template>

<script>
import NavBar from "./../navigation/NavBar";
import SideBar from "./../navigation/SideBar";

import Chart from 'chart.js';
export default {
  components: {
     SideBar,
     NavBar
     
  },
  data(){
    return {
      msg: 'Hello World!'
    }
  },
  methods: {
    
  },
  mounted() {
    document.title = "Dashboard"
    this.$nextTick(() => {
      var ctx = this.$refs.barChart.getContext("2d");
      new Chart(ctx, {
        type: "bar",
        data: {
			labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
          datasets: [
        
            {
              
              label: "Borrowed Books",
              data: [7, 10, 9, 12, 13, 6],
              backgroundColor: "rgba(117, 121, 231,8)",
            },
            {
              label: "Borrowed Books",
              data: [7, 10, 9, 12, 13, 6],
              backgroundColor: "rgba(117, 121, 231,8)",
            },
            {
              label: "Returned Books",
              data: [4, 7, 10, 11, 8, 8],
              backgroundColor: "rgba(154, 179, 245, .8)",
            },
          ],
          
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });
      Chart.defaults.global.defaultFontColor = 'black';
      var pie = document.getElementById("pieChart").getContext("2d");
      new Chart(pie, {
        type: "doughnut",
        data: {
          datasets: [
            {
              data: [10, 20, 30, 20,40],
              backgroundColor: [
                "rgb(52, 152, 219, .8)",
                "rgba(154, 179, 245, .8)",
                "rgba(27, 206, 230, .8)",
                "rgba(27, 64, 230, .8)",
                "rgba(27, 30, 30,113 )",
              ],
            },
          ],

          labels: 
          [
					'Horror',
					'Love',
					'Mystery',
					'Romance',
					'History'
				],
        },
        
      });
    });
  },
  
};
 
</script>

<style>
</style>