<template>
  <div id="app">
     <NavBar />
    <SideBar isActive="patron" />

        <div class="searchbar">
        <button @click="modal">Add Patron</button>
        <input type="text" placeholder="Search..">
        </div>
        
        <div class="modal_container" id="modal">
        <div class="modal">
        <a href="#" class="close">X</a>
        <form action="#">
            <input type="text" placeholder="Name:"><br>
            <input type="text" placeholder="Author:"><br>
            <input type="text" placeholder="Copies:"><br>
            <input type="text" placeholder="Email Address:"><br>
            <button type="submit" class="btn_addbook" value="Add Book">Add Patron</button><br>
            </form>

          
        </div>
        </div>
        <table>
            <tr>
            <th></th>
            <th>Name</th>
            <th>Email Address</th>
            <th>Date Registered</th>
            </tr>
            <tr>
            <td><a href="#">Edit</a>
                <a href="#">Delete</a>
            </td>
            <td>Jose Rizal</td>
            <td>joserizal@gmail.com</td>
            <td>Jan. 20, 2020</td>
            </tr>
            <tr>
            <td><a href="#">Edit</a>
                <a href="#">Delete</a>
            </td>
            <td>Juan Luna</td>
            <td>juanluna@gmail.com</td>
            <td>Feb. 15, 2020</td>
            </tr>
            <tr>
            <td>
                <a href="#">Edit</a>
                <a href="#">Delete</a>       
            </td>
            <td>Juan Luna</td>
            <td>juanluna@gmail.com</td>
            <td>Feb. 15, 2020</td>
            </tr>
            <tr>
            <td><a href="#">Edit</a>
                <a href="#">Delete</a>
            </td>
            <td>Juan Luna</td>
            <td>juanluna@gmail.com</td>
            <td>Feb. 15, 2020</td>
            </tr>
            <tr>
            <td><a href="#">Edit</a>
                <a href="#">Delete</a>
            </td>
            <td>Juan Luna</td>
            <td>juanluna@gmail.com</td>
            <td>Feb. 15, 2020</td>
            </tr>
            
            
        </table>
     </div>
</template>

<script>
import NavBar from "./../navigation/NavBar";
import SideBar from "./../navigation/SideBar";


export default {
  mounted(){
    document.title = "Patron Management"
  },
  components: { 
    SideBar,
    NavBar
    },
};
</script>

<style>

</style>
