.navbar
{
    background-color: black;
    box-shadow: 0px 7px 10px black;
}
.nav
{
    padding-right: 0px;
    margin-right: 165px;
    }
.nav-link
{
    color: white;
    font-size: 23;
}
.carouse
{
    text-align: center;
    padding-top: 2px;
}
.nav button
{
    color: white;
    background:  rgba(0,0,0,0.7);
    border-radius: 20px;
    margin-right: 0px;
    position: relative;
    width: 100px;
}
.banner
{
    height: 100%;
    background-image: url(6.jpg);
    background-position: relative;
    background-size: cover;
    background-attachment: fixed;
    
}
.banner1
{
    height: 100%;
    background-image: url(8.jpg);
    background-position: relative;
    background-size: cover;
    background-attachment: fixed;
}

.banner-highlights
{
    padding: 20px;
    background: rgba(0,0,0,0.5);
    text-align: center;
    color: #fff;
    
}
.booking-btn
{
    width: 300px;
    height: 100px;
    padding: 8px 0;
    outline: none !important;
    border-radius: 20px;
    background: rgb(255, 180, 180,.4);
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 120px;
    font-size: 30px;
    color: black;
    font-weight: 700;
    text-shadow: 0px 1px 3px;
    box-shadow: 0px 3px 5px;
    
    
}
.carouse
{
background-image: url(41.png);
    
}
.banner-highlights1
{
    padding: 20px;
    background: transparent;
    text-align: center;
    color: #fff;
    opacity: 100;
}
.small {
   display: block; 
   text-align: center; 
} 

.users-feedback
{
    padding: 100px 0;
    background-image: url(2.png);
}
.user-review
{
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 100, 0.2);
    padding-bottom: 50px;
}
.user-review p
{
    padding: 50px 10px 10px 10px;
}

.user-review p:before
{
    content: '\201d';
    display: block;
    position: absolute;
    font-size: 100px;
    color: #6495ed;
    left: 44%;
    top: -20px;
    font-family: sans-serif;
}
.nav a h6
{
    text-align: center;
    font-size: 10px;
}
.container img
{
    margin-top: 50px;
    width: 100px;
}
.container
{
    margin-top: 100px;
 margin-left: 100px;
}
.banner1 container h2
{
    background: black;
}
.banner2
{
    height: 100%;
    background-image: url(10.png);
    background-position: relative;
    background-size: cover;
    background-attachment: fixed;
}
.container1 img
{
    width: 250px;
}
{
    color: white;
}
.container1 
{
    margin-top:150px;
    margin-left: 280px;
}
.container1 h2,h3,h5
{
    color: white;
}
.container h2
{
    color: white;
}
