<template>
  <header>
        <div class="left_area">
            <a>
            <img src="../../assets/images/books.png">
               Library System</a>
            </div>
            <div class="right_area">
            <a href="#" class="logout_btn">Logout</a>
            </div>
        </header>
  
</template>
<script>
export default {
  
}
</script>
<style>

</style>