<template>
  <div class="sidebar">
        <a href="Dashboard.html"><img src="../../assets/images/dashboard.png"><span>Dashboard</span>
            </a>
        <a href="../src/components/pages/Patron.vue"><img src="../../assets/images/group.png"><span>Patron Management</span>
            </a>
        <a href="../src/components/pages/Books.vue"><img src="../../assets/images/execution.png"><span>Book Management</span>
            </a>
        <a href="#"><img src="../../assets/images/settings.png"><span>Settings</span>
            </a>
        </div>
  
</template>
<script>
export default {
  props: {
    isActive: String,
  },
  data() {
    return {
      data: ''
    }
  },
  mounted() {
    
  }
}
</script>
<style></style>