
header{
  position: relative;
  background: #007D76;
  width: 100%;
  height: 100px;
  border-bottom-style: solid;
  border-color: aliceblue;
  color: #fff;
}
.left_area img{
  width: 100px;
  padding-left: 20px;
  padding-right: 20px;
}
.left_area a{
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
  display: flex;
  padding: 30px;
}
.logout_btn{
  padding: 5px;
  text-decoration: none;
  float: right;
  margin-top: -85px;
  margin-right: 40px;
  font-size: 15px;
  font-weight: 600;
  color: #ffff;
  border-radius: 5px;
  align-self: center;
  text-decoration: underline;
  color: black;
}
.logout_btn:hover{
  background: #00B594;
}
.sidebar{
  background: #007D76;
  margin-top: 70px;
  padding-top: 0px;
  position: absolute;
  left: 0;
  width: 315px;
  height: 100%;
  margin-top: 0px;
}
.sidebar h4{
  color: #ccc;
  margin-top: 0;
  margin-bottom:10px;
}
.sidebar a{
  color: #fff;
  display: block;
  width: 100%;
  line-height: 100px;
  text-decoration:none;
  padding-left: 20px;
  box-sizing: border-box;
  transition: .5s;
  font-size: 20px;
  font-family: sans-serif;
  display:flex;
  align-items: center;
  
}
.sidebar img{
  width: 70px;
  margin-right: 10px;

}
.sidebar a:hover{
  background: #00B594;
  border-radius: 10px;
}
table{
  width:1195px;
  position: relative;
  margin-left: 320px;
  margin-top: 37px;
  text-align: center;
  color: #000;
  
}
th,td{
  text-align: center;
  padding: 35px;
}
table, th, td {
  border: 1px solid #000;
  border-collapse: collapse;
}
tr:nth-child(even){
  background-color: #B7B7B7;
  
}
tr:nth-child(odd){
  background-color: #00B594;
}
th{
  color: white;
  font-size: 20px;
}
td h4{
  margin-top: -20px;
  position: inherit;
}
td a{
  text-decoration: underline;
  margin: 2px;
  color: aliceblue;
}
.searchbar{
  padding-top: 40px;
  margin-top: 0px;
  margin-left: 500px;
}
input{
  float: right;
  width: 250px;
  border-radius: 10px;  
}
.modal_container{
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  z-index: 1;
}
.modal_container:target{
  opacity: 1;
  pointer-events: auto;
}

.modal_container:target > div{
  transform: translate(0px, 0px);
}
.modal{
  width: 450px;
  height: 500px;
  margin: auto;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background:#B7B7B7;
  border: 1px solid white;
  padding: 20px;
  border-radius: 10px;
}

.modal-heading{
  width: 100%;
  display: block;
  height: 10px;
  font-size:10pt;
  font-family: big john;
  border-bottom: 2px solid #fefefe;
  background-color: #007D76;
  
}
.modal input{
  margin-top: 25px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  height: 50px;
  border:0px;
  font-family: georgia;
  font-size: 11pt;
  text-align: left;
  
}

.btn_addbook{
  float: right;
  color: black;
  font-size: 10pt;
  margin-top: 45px;
  width: 100px;
  border-radius: 10px;
  border:1px solid white;
  
}
.close{
  color:white;
  position: absolute;
  border:1px solid white;
  padding:7px 9px 11px 9px;
  background: #00B594;
  text-decoration: none;
  top: -1px;
  right: 0px;
  border-radius: 10px;
  width: 10px;
  height: 10px;
  
}
.close:hover{
  background: #444;
  cursor: pointer;
}
#barchart{
  position: relative;
  margin-left: 800px;
  margin-top:-300px;
  width: 400px;
  height: 300px;
  background-color:#00B594;
}
#piechart{
  position: relative;
  margin-left: 350px;
  margin-top: 30px;
  width: 400px;
  height: 300px;
  background-color:#00B594;
}
.searchbar button{
  border-radius: 10px;
  border-width: 1px;

}